$themeColor: #2aba8a;
$themeHoverColor: #2aba8ab2;
$textColor: #333;
$borderColor: #eee;
$lightGray: #f9fbfd;
$whiteColor: #fff;
$blackColor: #000;
$strokeE6Color: #ddd;
$transparentColor: #0000;
$canvasToolColor: #edf2fa;
$canvasDividerColor: #dadce0;
$secondColor: #333;
$lineColor: #ddd;
$boxStrokeColor: #d9d9d9;

$testColor: #34e;

$boxShadow: 3px 3px 3px rgba(#000, 0.15);

$transitionDelay: .2s;
$transitionDelayFast: .1s;
$transitionDelaySlow: .3s;

$boxStrokeRadius: 4px;
$borderRadius: 2px;
$inputRadius: 4px;
$buttonRadius: 3px;